{% extends 'members/layout.html' %}
{% block title%}{{ event.title }}{% endblock %}
{% block content %}
    <div class="container">
        {% load static%}
        <h2>{{ event.title }}</h2>
        {% if event.image %}
        <p><img src="{{ event.image.url }}" alt="Event image" width="100%"></p>
        {% else %}
        <p><img src="{% static 'members/no_image.jpg' %}" alt="No image"></p>
        {% endif %}
        <p>Place: {{ event.place }}</p>
        <p>Date: {{ event.date }}</p>
        <p>by <a href="#" class="btn btn-info" role="button">{{ event.author }}</a></p>
        <p>{{ event.description }}</p>
        <div class="{{ event.hobby.name }} hobby-icon"></div>
    </div>
{% endblock %}