{% extends 'members/layout.html' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
<main role="main">
<div class="jumbotron">
    <div class="container">
      <h2 class="display-3">Create your event!</h2>
      <p>
        This is a site where you can create your own events
        according to your preferences and find other people's events.
        Just register on the site and add your hobbies
      </p>
      <p><a class="btn btn-primary btn-lg" href="{% url 'members:index' %}" role="button">Try It &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- row of columns -->
    <div class="row">
    {% for event in object_list %}
      <div class="col-md-4">
        <h2>{{ event.title }}</h2>
        <p>{{ event.place }}</p>
        <p>{{ event.description }}</p>
        <div class="{{ event.hobby.name }} hobby-icon"></div>
        <p><a class="btn btn-secondary" href="{% url 'members:event' event.id %}" role="button">View details &raquo;</a></p>
      </div>
    {% endfor %}
    </div>

    <hr>

  </div>
</main>
{% endblock %}