{% extends 'members/layout.html' %}
{% block title%}{{ user }}{% endblock %}
{% block content %}
    <div class="container">
        {% load static%}
        <h2>{{ user }}</h2>
        <div class="row">
            <div class="col-md-6">
                {% if user.profile.image %}
                <p>
                <img src="{{ user.profile.image.url }}" alt="{{ user.username }}" width="100%">
                </p>
                {% else %}
                <p><img src="{% static 'members/no_image.jpg' %}" alt="No image"></p>
                {% endif %}
            </div>
            <div class="col-md-6">
                <p>First Name: {{ user.first_name }}</p>
                <p>Last name: {{ user.last_name }}</p>
                <p>Email: {{ user.email }}</p>
                <p>City: {{ user.profile.city }}</p>
                <p>Birth Date: {{ user.profile.birth_date }}</p>
                {% for hobby in user.profile.hobby.all %}
                <a href="#">
                    <div class="{{ hobby.name }} hobby-icon" style="display: inline-block" data-toggle="tooltip" title="{{ hobby.title }}"></div>
                </a>
                {% endfor %}
                {% if user.is_authenticated %}
                <p>
                    <a class="btn btn-info" role="button" href="{% url 'members:edit_profile' %}">
                        Edit
                    </a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}