.message{
    font-weight: 80;
    color: blue;
}
.bike {
    width: 100px;
    height: 100px;
    background: url(hobbies.jpg) -60px -70px;
  }

.yoga {
    width: 100px;
    height: 100px;
    background: url(hobbies.jpg) -60px -70px;
  }
.kayak{
    width: 100px;
    height: 100px;
    background: url(hobbies.jpg) -60px -70px;
}
