.message{
    font-weight: 80;
    color: blue;
}
.hobby-icon {
    width: 200px;
    height: 200px;
    transform: scale(.4);
    /*border: 2px solid black;*/
}
/*
intial -50px 90px. x-step 313, y-step 231
-50px -977px; - education
-50px -747px; - forest
-50px -517px; - bike
-337px -517px; - orbitreck
-650px -517px; - TOURING (BAGAGE)
-973px -517px; - chess
-973px -287px; - running
*/
.bike {
    background: url(hobbie.jpg) -50px -517px;
  }
.hike{
    background: url(hobbie.jpg) -973px -747px;
}
.kayak{
    background: url(hobbie.jpg) -337px -747px;
}
.yoga {
    background: url(hobbie.jpg) -650px -287px;
  }
.music{
    background: url(hobbie.jpg) -973px -56px;
}
