.message{
    font-weight: 80;
    color: blue;
}
body { 
    padding-top: 50px; 
}
.hobby-icon {
    width: 200px;
    height: 200px;
    background: url(hobbie.jpg) no-repeat;
    transform: scale(.2);
    margin: -70px;
}
/*
intial -50px 90px. steps like x-step 313, y-step 231
-50px -977px; - education
-50px -747px; - forest
-50px -517px; - bike
-337px -517px; - orbitreck
-650px -517px; - TOURING (BAGAGE)
-973px -517px; - chess
-973px -287px; - running
*/
.bike {
    background-position: -50px -517px;
  }
.hike{
    background-position: -973px -747px;
}
.kayak{
    background-position: -337px -747px;
}
.yoga {
    background-position: -650px -287px;
  }
.music{
    background-position: -973px -56px;
}
